*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #0A043C;
    color: #FFE3D8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: 20px;
    margin-right: auto;
    padding: 10px 10px;
    border-radius: 30px;
}

.logo:hover {
    color: #FFA732;
    text-underline-offset: 10px;
    transition: all .3s ease 0ms;
    transform: scaleX(1.1);
    box-shadow: 0px 3px 10px #FFA732;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
nav li {
    list-style: none;
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
}

nav li:hover {
    color: #FFA732;
    text-decoration: underline;
    text-underline-offset: 10px;
}
nav li a {
    text-decoration: none;
    color: #FFE3D8;

}

.cta {
    margin-right: 20px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta button {
    padding: 1px 15px;
    background-color: #FFE3D8;
    border-color: #FFA732;
    border-radius: 6px;
}

.cta button:hover {
    color: #FFE3D8;
    background-color: #FFA732;
    text-underline-offset: 10px;
    transition: all .5s ease 0ms;
}

.cta button a {
    text-decoration: none;
    color: #0A043C;
    display: flex;
    align-items: center;
}

button img {
    height: 30px;
    padding-right: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.hero-title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #FFA732;
}

.hero-desc {
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.hero-img {
    width: 80%;
    max-width: 500px;
    height: auto;
}

#about {
    background-image: url(./asset/background-img.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #0A043C;
    color: #FFE3D8;
}

.about-title {
    color: #FFA732;
}
.about-desc {
    text-align: center;
}

.about-button {
    padding: 5px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.about-button:hover {
    background-color: #FFA732;
    color: #FFE3D8;
}
.about-button a {
    text-decoration: none;
    color: #0A043C;
}

#services {
    padding-top: 30px;
    padding-bottom: 300px;
    margin: 0 auto ;
    width: 90%;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.card-item {
    width: 30%;
    height: auto;
    background-color: #f7f7f7;
    color: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 80%;
}

.card-img:hover {
    transform: scaleX(1.1);
    transition: all .3s ease 0ms;
}

.card-title {
    color: #FFA732;
    padding-bottom: 20px;
}

hr {
    border:0;
    margin: 20px 0;
    height:5px;
    background-image:linear-gradient(to right, rgba(60, 74, 234, 0), rgb(190, 227, 57), rgba(0, 0, 0, 0));
  }
.card-desc {
    color: #0A043C;
    font-size: small;
    text-align: center;
}

footer {
    background-color: #0A043C;
    text-align: center;
}
footer p {
    color: #d4f0f5;
    padding: 25px;
}

footer a {
    text-decoration: none;
    color: #d4f0f5;
}




@media screen and (max-width:500px){
    .logo {
        margin-left: 20px;
        margin-right: auto;
        padding: 10px 10px;
        border-radius: 10px;
    }
    .card {
        flex-direction: column;
        gap: 6px;
    }

    .card-item {
        width: 100%;
    }

    .card-title {
        padding-bottom: 6px;
    }

    .logo {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    
    nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 9;
        background-color: #0A043C;
    }
    .cta {
        display: none;
    }

    footer {
        margin-bottom: 65px;
    }
}